.fira-sans-normal {
    font-family: "Fira Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
}

body {
    background-color: #F1F1F3;
}

* {
    margin: 0;

}

/* navbar css styles
===================== */
.header-section {
    margin: 25px 65px;
}

.nav-section {
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    font-size: 20px;
    font-weight: 700;
    color: #0E0E0E;
}

.nav-sign {
    font-size: 13px;
    font-weight: 600;
    color: #006A50;
    padding: 7px 15px;
    border: 1px solid;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.nav-sign:hover {
    background-color: #006A50;
    color: white;
    transform: scale(1.2);
}

/* navbar-hero css s styles
===========================  */
.nav-hero {
    margin-top: 20px;
    width: 1135px;
    height: 550px;
    display: flex;
    background-color: #C6E4D6;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.nav-container {
    margin: 40px;
    justify-content: center;
    align-items: center;
}

.nav-subtitle {
    opacity: 0.8;
    font-size: 14px;
    color: #0E0E0E;
    font-weight: 400;
    margin-bottom: 10px;
}

.nav-title {
    font-size: 50px;
    font-weight: 700;
}

.nav-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 15px;
    color: white;
    font-weight: 600;
    border-radius: 3px;
    border: none;
    background-color: #006A50;
    cursor: pointer;
}

.nav-btn:hover {
    background-color: gold;
    color: #0E0E0E;
    transition: 0.5s;
}

.nav-img {
    margin-right: 30px;
}

.piller-section {
    margin: 25px 65px;
}

.piller-title {
    margin-top: 40px;
    font-size: 30px;
    font-weight: 700;
}

.piller-container {
    display: flex;
}

.piller-box {
    margin-top: 20px;
    box-shadow: 0 0 1px 0px;
    border-radius: 10px;
    background-color: #fff;
    height: 220px;
    width: 250px;
    padding: 20px;
    margin-right: 20px;
}

.piller-box img {
    width: 30%;
}

.piller-box-title {
    padding-top: 5px;
    font-size: 16px;
    color: #0E0E0E;
    font-weight: 600;
    margin-bottom: 15px;
}

.piller-description {
    opacity: 0.5;
    font-size: 15px;
    color: #0E0E0E;
    font-weight: 400;
    line-height: 20px;
}

/* vision css styles
==================== */
.vision-section {
    margin: 40px 65px;
}

.vision-title {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 700;
}

.vision-title-description {
    opacity: 0.4;
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: 400;
}

.vision-container {
    display: flex;
}

.vision-box {
    margin-top: 20px;
    box-shadow: 0 0 1px 0px;
    border-radius: 10px;
    background-color: #fff;
    height: 290px;
    width: 378px;
    padding: 20px;
    margin-right: 20px;
}

.vision-box img {
    width: 30%;
    border-radius: 10px;
}

.vision-box-title {
    padding-top: 5px;
    font-size: 16px;
    color: #0E0E0E;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 10px;
}

.vision-description {
    opacity: 0.5;
    font-size: 15px;
    color: #0E0E0E;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 10px;
}

.card-1 {
    background-color: #d5e1f5;
}

.card-2 {
    background-color: #c6e4d6;
}

.card-3 {
    background-color: #f7ebcf;
}

.btn-1 {
    padding: 10px 17px;
    color: white;
    background-color: #5490f5;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
}

.btn-1:hover {
    background-color: gold;
    color: #0E0E0E;
    transition: 0.5s;
}

.btn-2 {
    padding: 10px 17px;
    color: white;
    background-color: #09a15c;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
}

.btn-2:hover {
    background-color: gold;
    color: #0E0E0E;
    transition: 0.5s;
}

.btn-3 {
    padding: 10px 17px;
    color: white;
    background-color: #ffc239;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
}

.btn-3:hover {
    background-color: #006A50;
    color: #ffff;
    transition: 0.5s;
}

/* quote styles 
================ */
.quote-section {
    margin: 40px 65px;
    background-image: url('../assets/quote-bg.png');
    background-repeat: no-repeat;
    background-position: 20px top;
    background-position-y: 20px;
    padding: 40px 20px;
    box-shadow: 0 0 1px 0px;
    border-radius: 10px;
    background-color: #fff;
    height: 200px;
}

.quote-text {
    opacity: 0.7;
    color: #0E0E0E;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 20px;
}

.professor {
    opacity: 0.9;
    font-size: 16px;
    font-weight: 600;
    color: #0E0E0E;
    margin-bottom: 5px;
}

.adviser {
    opacity: 0.5;
    font-weight: 400;
    color: #0E0E0E;
    font-size: 15px;

}

/* opinion styles
================= */

.opinion-section {
    margin: 40px 65px;
}

.opinion-title {
    font-size: 30px;
    color: #0E0E0E;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 20px;
}

.opinion-box {
    height: 250px;
    box-shadow: 0 0 1px 0px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}

table {
    width: 1090px;
    border-collapse: collapse;
}

tr>th {
    background-color: #c6e4d6;
    padding: 10px 20px;
}

tr>td {
    border: 1px solid gray;
    padding: 10px;
}

.question {
    text-align: left;
}

.table-question {
    font-size: 16px;
    color: #0E0E0E;
    font-weight: 500;
}

.dropdown-container {
    text-align: center;
}

.dropdown-box {
    padding: 8px 10px;
    background-color: #c6e4d6;
    border-radius: 3px;
    font-size: 13px;
    color: #0E0E0E;
    font-weight: 600;
    text-align: center;
    border: 1px solid;
}

/* news styles 
=============== */
.news-section {
    margin: 40px 65px;
}

.news-headline {
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 30px;
    color: #0E0E0E;
    font-weight: 700;
}

.news-description {
    opacity: 0.5;
    font-size: 14px;
    color: #0E0E0E;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 20px;
}

.news-container {
    /* height: 250px; */
    box-shadow: 0 0 1px 0px;
    background-color: #fff;
    border-radius: 10px;
    padding: 50px;
    display: flex;
    gap: 20px;
}

.news-container img {
    border-radius: 10px;
}

.common-btn {
    padding: 10px 17px;
    color: white;
    background-color: #006A50;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
}

.common-btn:hover {
    border: 1px solid;
    color: #0E0E0E;
    background-color: #fff;
    transition: 0.5s;
}

.news-card-title {
    opacity: 0.9;
    font-size: 30px;
    color: #0E0E0E;
    margin-bottom: 10px;
}

.time-box {
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 0.5;
    color: #0E0E0E;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    gap: 10px;
}

.news-card-description {
    opacity: 0.5;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 25px;
}

/* news blog section styles 
=========================== */

.news-blog-section-2 {
    margin: 40px 65px;
}

/* donation styles 
=================== */

.donation-section {
    margin: 40px 65px;
    text-align: center;

}

.donation-title {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}

.donation-description {
    opacity: 0.7;
    font-size: 14px;
    color: #0E0E0E;
    font-weight: 400;
}

.donation-container {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 20px;
}

.donation-box {
    margin-top: 30px;
    box-shadow: 0 0 1px 0px;
    background-color: #fff;
    border-radius: 5px;
    width: 200px;
    height: 100px;
}

.one-bg {
    background-color: #c6e4d6;
}

.donation-box:hover {
    background-color: gold;
    transition: 0.7s;
}

.donation-amount {
    opacity: 0.9;
    font-size: 30px;
    color: #0E0E0E;
    padding: 30px;
}

input[type="text"] {
    font-size: 15px;
    font-weight: 500;
    margin: 20px;
    text-align: center;
    padding: 12px;
    width: 70%;
    border-radius: 5px;
    border: none;
}

/* newsletter styles
==================== */
.newsletter-section {
    margin: 40px 65px;
    border-radius: 5px;
    background-color: #c6e4d6;
    height: 300px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.newsletter-container {
    text-align: center;
}

.newsletter-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}

.newsletter-description {
    opacity: 0.5;
    font-size: 13px;
    color: #0E0E0E;
    font-weight: 400;
    margin-bottom: 15px;
}

.form {
    display: flex;
    justify-content: center;
}

input[type="email"] {
    text-align: center;
    width: 50%;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    padding: 10px;
    border: none;
    border-right: none;
    border-radius: 5px 0 0 5px;
}

.submit {
    font-weight: 600;
    padding: 10px;
    border: none;
    background-color: #006A50;
    color: white;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

.submit:hover {
    background-color: gold;
    color: #0E0E0E;
    transition: 0.5s;
}

.form-slogan {
    margin-top: 10px;
    opacity: 0.5;
    font-size: 14px;
    color: #0E0E0E;
    font-weight: 400;
}